.primeiro{
    color: cornflowerblue !important;
    font-weight: bold !important;
    text-align: center !important;
}

.pe-7s-trash{
    color:red !important;
}

.pe-7s-trash:hover{
    color: white !important;
    background-color:red !important;
    border-radius: 100em;
}

#teste{
    margin-bottom: 1em !important;
}

@media (max-width:390px){
    h4{
        font-size: 1.2em;
    }
}

#anoCorrente, #mesCorrente, #since {
    color: cornflowerblue !important;
    font-weight: bold !important;
}

#dd{
    display:none;
}

.hidden-item{
    display:none;
}

.vals{
    text-align: right;
}

.cent{
    text-align: center;
}